<footer class="site-footer">
  <small>
    © <a href="https://louis.fyi" target="_blank">louis mitchell</a> 2022. images © <a href="https://instagram.com/w.bld_" target="_blank">wilhelm bold</a>.
  </small>
</footer>
